<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="common">
			<section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
		</sectionGroup>

		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="ThirdPartyAppV2.Main.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
	<startup> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
	</startup>
	<connectionStrings>
		<add name="HHMHBB" connectionString="" providerName="System.Data.SqlClient" />
		<add name="MySQLDB" connectionString="" providerName="MySql.Data.MySqlClient" />
	</connectionStrings>	
	<common>
		<logging>
			<factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog10">
				<arg key="configType" value="INLINE" />
			</factoryAdapter>
		</logging>
	</common>

	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets>
			<target name="common.logging" type="Common.Logging.NLog.CommonLoggingTarget, Common.Logging.NLog10" layout="${longdate}|${level:uppercase=true}|${message}" filename="C:\temp\${date:format=yyyy-MM-dd}_logA.txt" />
		</targets>
		<rules>
			<logger name="*" minlevel="Trace" writeTo="common.logging" />
		</rules>
	</nlog>
  <runtime> 
	  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"> 
		  <dependentAssembly> 
			  <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" /> 
			  <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" /> 
		  </dependentAssembly> 
		  <dependentAssembly> 
			  <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" /> 
			  <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" /> 
		  </dependentAssembly> 
	  </assemblyBinding> 
  </runtime>
  <userSettings>
	<ThirdPartyAppV2.Main.Properties.Settings>
   <setting name="HHMHBBDbConstring" serializeAs="String">
     <value />
   </setting>
   <setting name="MySQLDbConstring" serializeAs="String">
     <value />
   </setting>
 </ThirdPartyAppV2.Main.Properties.Settings>
  </userSettings>
</configuration>